.oi-popup
  position: fixed
  background-color: #fff
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 5
  padding-top: 60px
  padding-bottom: 30px
  display: none
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  &.mod-open
    display: block
  &.mod-flex
    align-items: center
    &.mod-open
      display: flex
      &.mod-reset-flex-xs
        @media(max-width: $screen-sm)
          display: block

.oi-popup--header
  margin-bottom: 50px
  h3
    font-size: 30px
    font-weight: 300
    line-height: 1.0
    color: #000
    @media(min-width: $screen-md + 1)
      font-size: 48px
    & + *
      margin-top: 10px
  h4
    font-weight: 300
    line-height: 1
    font-size: 30px
    @media(min-width: $screen-sm + 1)
      font-size: 36px

.oi-popup--header--icon
  width: 85px
  & + *
    margin-top: 25px
    @media(min-width: $screen-md + 1)
      margin-top: 40px

.oi-popup--close
  width: 26px
  cursor: pointer
  position: absolute
  right: 30px
  top: 30px
  @media(min-width: $screen-md + 1)
    top: 60px
    right: 60px
  &.mod-xs-static
    @media(max-width: $screen-sm)
      position: static
      &:first-child
        margin: 0 auto 60px
      &:last-child
        margin: 60px auto 20px
  &.oi-visible-xs
    @media(max-width: $screen-sm)
      display: block

.oi-popup--body
  max-width: 800px
  textarea.oi-form-control
    height: 120px