.oi-thumb
  position: relative
  position: relative
  overflow: hidden
  height: 240px
  display: block
  @media(min-width: $screen-sm + 1)
    height: 315px
  @media(min-width: $screen-md + 1)
    height: 390px
    &:hover
      &:before,
      .oi-thumb--title,
      .oi-thumb--descr
        opacity: 1
      .oi-thumb--title
        top: 110px
      .oi-thumb--descr
        top: 60px
      .oi-thumb--pic
        transform: translate(-50%, -50%) scale(1.1)
  @media(min-width: $screen-lg + 1)
    height: 600px
  &:before
    content: ''
    display: block
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    z-index: 1
    transition: opacity .3s
    background-color: rgba(#000, .3)
    @media(min-width: $screen-md + 1)
      background-color: rgba(#000, .6)

.oi-thumb:before,
.oi-thumb--title,
.oi-thumb--descr
  @media(min-width: $screen-md + 1)
    opacity: 0

.oi-thumb--pic
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  transition: transform .3s
  width: 100%
  height: 100%
  img
    object-fit: cover
    width: 100%
    height: 100%

.oi-thumb--title,
.oi-thumb--descr
  color: #fff
  position: absolute
  left: 30px
  @media(min-width: $screen-sm + 1)
    transition: opacity .3s, top .3s
  @media(min-width: $screen-md + 1)
    left: 60px

.oi-thumb--title
  font-size: 25px
  font-weight: 300
  line-height: .96
  z-index: 2
  top: 65px
  @media(min-width: $screen-sm + 1)
    font-size: 36px
    line-height: 1
  @media(min-width: $screen-md + 1)
    top: 130px

.oi-thumb--descr
  font-size: 18px
  font-weight: bold
  line-height: 0.88
  z-index: 2
  top: 30px
  @media(min-width: $screen-sm + 1)
    font-size: 24px
  @media(min-width: $screen-md + 1)
    top: 80px

.oi-thumb--slider-src
  display: none