/* @import must be at top of file, otherwise CSS will not work */

@import url("//hello.myfonts.net/count/31ef50")


@font-face
  font-family: 'ProximaNova'
  font-weight: 300
  src: url('../fonts/351153_2_0.eot')
  src: url('../fonts/351153_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/351153_2_0.woff2') format('woff2'), url('../fonts/351153_2_0.woff') format('woff'), url('../fonts/351153_2_0.ttf') format('truetype')

@font-face
  font-family: 'ProximaNova'
  font-weight: 400
  src: url('../fonts/31EF50_5_0.eot')
  src: url('../fonts/31EF50_5_0.eot?#iefix') format('embedded-opentype'), url('../fonts/31EF50_5_0.woff2') format('woff2'), url('../fonts/31EF50_5_0.woff') format('woff'), url('../fonts/31EF50_5_0.ttf') format('truetype')

@font-face
  font-family: 'ProximaNova'
  font-weight: 600
  src: url('../fonts/31EF50_8_0.eot')
  src: url('../fonts/31EF50_8_0.eot?#iefix') format('embedded-opentype'), url('../fonts/31EF50_8_0.woff2') format('woff2'), url('../fonts/31EF50_8_0.woff') format('woff'), url('../fonts/31EF50_8_0.ttf') format('truetype')

@font-face
  font-family: 'ProximaNova'
  font-weight: 700
  src: url('../fonts/31EF50_2_0.eot')
  src: url('../fonts/31EF50_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/31EF50_2_0.woff2') format('woff2'), url('../fonts/31EF50_2_0.woff') format('woff'), url('../fonts/31EF50_2_0.ttf') format('truetype')

b
  font-weight: 700

sub,
sup
  font-size: 60%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em