// Colors
.oi-color-white
  color: #fff

.oi-color-black
  color: #000

.oi-color-light
  color: #999
// end Colors

// Alignments
.oi-text-right
  text-align: right

.oi-text-center
  text-align: center
// end Alignments

// BG
.oi-bg-bluey-grey
  background-color: $bluey-grey
.oi-bg-steel-grey
  background-color: $steel-grey
.oi-bg-gunmetal
  background-color: $gunmetal
.oi-bg-greyish-brown
  background-color: $greyish-brown
.oi-bg-camo-green
  background-color: $camo-green
.oi-bg-greyish-brown-two
  background-color: $greyish-brown-two
.oi-bg-alternative
  background-color: rgba($bg-alternative, .2)
// end BG